@model  ViewModel.ForgotViewModel
@*@model ViewModel.MemberDetailsViewModel*@
@{
    ViewBag.Title = "Forgot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contentPart">
    <div id="threeBoxes" class="newBackground">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-10 col-xs-12 col-lg-offset-1 col-sm-offset-1 col-xs-offset-0">
                    <h2 class="red-bg" style="color:#000;">Video Search</h2>
                    <div class="videoSearchFieldContainer">
                        <form>
                            <input type="text" class="form-control" placeholder="Enter a few letters, or the full name of your horse">
                            <input type="button" class="goBtn" value="go">
                            <div class="clr"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="showinformation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="showDetailsContainer">
                    <div class="row">
                        <div class="col-lg-9 col-sm-8 col-xs-12">
                            <h1>Forgotten Password</h1>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12 myShownetTabingContent">
                      
                                <div class="tab-content">
                                    <p>
                                        For us to send your password we require that you enter the username you use to login to ShowNet. Please note that if you are a regular ShowNet subscriber you will not be able to login to the ShowNet Central site unless you have upgraded your account.
                                    </p>
                                </div>
                          
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-3 col-xs-12">
                            <b>&nbsp;&nbsp;&nbsp;&nbsp;Username</b>
                            </div>
                           <br />
                                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                     @Html.AntiForgeryToken()
                                     <font color="red"><b>  @Html.ValidationSummary(true) </b></font>
                                       <div class="col-lg-4 col-sm-3 col-xs-12">
                                        @*<input type="text" placeholder="Email" name="Email" class="form-control">*@
                                     @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button id="btnRegister" class="loginbtn" style="padding-right:30px; padding-left:30px;"><i class="fa fa-caret-right" style="padding-right:5px; font-size:18px;"></i>Send Password</button>
                                        
                                    </div>
                                    if (@ViewBag.Status == true)
                                    {
                                        <div>
                                            <font color="green"><b> Your Password Send Successfully.</b></font>
                                        </div>
                                    }
                                    else if (@ViewBag.Status == false)
                                    {
                                        <div>
                                            <font color="red"><b> Your Password Not Send.</b></font>
                                        </div>
                                    }
                                    else
                                    {
                                        
                                    }

                                    <br />
                                    
                                    @*if(@Model.Status==1)
                                    {
                                        <div>
                                            <label for="PasswordMsg">Password Send Successfully</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <label for="PasswordMsg">Password Not Send Successfully</label>
                                        </div>
                                    }*@
                                }
                                 
                        <br />
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <p>
                                Your password will be emailed to you immediately. If you do not receive your password, please check your spam filter settings and ensure that you can receive emails from no-reply@shownet.biz.
                            </p>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

