@model ViewModel.ShowDetailsViewModel
@{
    ViewBag.Title = "View";
    //Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<link href="~/html/css/owl.carousel.css" rel="stylesheet">
<link href="~/html/css/owl.theme.css" rel="stylesheet">

<!-- owl carousel script -->
<script src="~/html/js/owl.carousel.js"></script>



<style>
    #owl-demo .item img {
        display: block;
        width: 100%;
        height: auto;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ShowCarousel").owlCarousel({
            itemsCustom: [
                [0, 1],
                [450, 1],
                [600, 2],
                [700, 3],
                [1000, 3],
                [1200, 4],
                [1400, 5],
                [1600, 5]
            ],
            //Autoplay
            autoPlay: false,
            stopOnHover: false,
            // Navigation
            navigation: true,
            navigationText: ["", ""],
            rewindNav: true,
            scrollPerPage: false
        });
    });

    function getScheduleList() {
        $.ajax({
            type: 'POST',
            url: '/ShowNet/RingScheduleList',
            data: { 'year': $("#ddlYear").val(), 'month': $('#ddlMonth').val(), 'showNameId': $('#ddlShowName').val(), 'showDate': $('#ddlHorseShowDate').val(), 'showDayID': $('#ddlRingName').val() },
            success: function (response) {
                // alert("hi");

            },
            error: function (response) {
                alert("error");
            }

        });

    }

    function getShowName() {
        var year = $('#ddlYear').val();
        var month = $('#ddlMonth').val();
        $.ajax({
            url: '/ShowNet/fillShowName',
            type: "GET",
            dataType: "JSON",
            data: { 'year': $("#ddlYear").val(), 'month': $('#ddlMonth').val(), 'showNameId': $('#ddlShowName').val(), 'showDate': $('#ddlHorseShowDate').val(), 'showDayID': $('#ddlRingName').val() },
            success: function (years) {
                $("#ddlShowName").html("");
                if (years.length != 0) {
                    $.each(years, function (i, showName) {
                        $("#ddlShowName").append(
                            $('<option></option>').val(showName.HorseShowID).html(showName.HorseShowName));
                        $("#ddlHorseShowDate").prop("disabled", false);
                        $("#ddlRingName").prop("disabled", false);
                        $("#ddlRingName1").prop("disabled", true);
                    });
                }
                else {
                    $("#ddlShowName").append($('<option></option>').val(0).html("No shows for this months!"));
                    $("#ddlHorseShowDate").prop("disabled", true);
                    $("#ddlRingName").prop("disabled", true);
                    $("#ddlRingName1").prop("disabled", true);


                }
            }
        });
    }

    function getShowDate() {
        var year = $('#ddlYear').val();
        var month = $('#ddlMonth').val();
        $.ajax({
            url: '/ShowNet/fillShowDate',
            type: "GET",
            dataType: "JSON",
            data: { 'year': $("#ddlYear").val(), 'month': $('#ddlMonth').val(), 'showNameId': $('#ddlShowName').val(), 'showDate': $('#ddlHorseShowDate').val(), 'showDayID': $('#ddlRingName').val() },
            success: function (shows) {
                $("#ddlHorseShowDate").html("");
                if (shows.length != 0) {
                    $.each(shows, function (i, show) {


                        $("#ddlHorseShowDate").append(
                           $('<option></option>').val(show.ShowsDate).html(show.ShowsDate));

                    });
                }
                else {
                    $("#ddlHorseShowDate").append($('<option></option>').val(0).html("No shows for this months!"));



                }
            }
        });
    }
</script>



<!-- contentPart -->
<section id="contentPart">
    <div id="threeBoxes" class="newBackground">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-10 col-xs-12 col-lg-offset-1 col-sm-offset-1 col-xs-offset-0">
                    <h2 class="red-bg" style="color:#000;">Video Search</h2>
                    <div class="videoSearchFieldContainer">
                        <form>
                            <input type="text" class="form-control" placeholder="Enter a few letters, or the full name of your horse">
                            <input type="button" class="goBtn" value="go">
                            <div class="clr"></div>
                        </form>
                    </div>
                    <!--<div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <button class="blueBtnHome" onclick="location.href = 'pricing-operation.html';">
                                <h3>Please click here</h3>
                                <p>Pricing and Operations</p>
                            </button>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <button class="orangeBtnHome" onclick="location.href = 'privatized.html';">
                                <h3>ShowNet now offers</h3>
                                <p>Privacy Setting for your videos</p>
                            </button>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<div class="showinformation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="showDetailsContainer">
                    <div class="row">
                        <div class="col-lg-9 col-sm-8 col-xs-12">
                            <h1>LIVE Status: Kentucky Summer Horse Show 2015</h1>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 showButton">
                            <button class="watchCompleteShowbtn"><i class="fa fa-youtube-play"></i> Watch the Complete Show</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="showGroundSearch">
                                <div class="row">
                                    <div class="col-lg-2 col-sm-2 col-xs-12">
                                        @Html.DropDownListFor(m => m.SelectedYear, new SelectList(Model.YearList, "Value", "Text"), new { id = "ddlYear", @class = "form-control", onchange = "getShowName(this.options[this.selectedIndex].value);" })

                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-xs-12">
                                        @Html.DropDownListFor(m => m.SelectedMonth, new SelectList(Model.MonthList, "Value", "Text"), new { id = "ddlMonth", @class = "form-control", onchange = "getShowName(this.options[this.selectedIndex].value);" })
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-xs-12">
                                        @Html.DropDownListFor(m => m.SelectedHorseShow, new SelectList(Model.HorseShowList, "HorseShowID", "HorseShowName"), new { id = "ddlShowName", @class = "form-control", onchange = "getShowDate(this.options[this.selectedIndex].value);" })
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-xs-12">
                                        @Html.DropDownListFor(m => m.SelectedHorseShowDate, new SelectList(Model.ShowDateList, "ShowsDate", "ShowsDate"), new { id = "ddlHorseShowDate", @class = "form-control", onchange = "getScheduleList(this.options[this.selectedIndex].value);" })
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-xs-12">
                                        @Html.DropDownListFor(m => m.SelectedRingName, new SelectList(Model.RingNameList, "ShowDayID", "RingName"), new { id = "ddlRingName", @class = "form-control", onchange = "getScheduleList(this.options[this.selectedIndex].value);" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div id="ShowCarousel" class="owl-carousel">
                                            <div class="item">ROLEX STADIUM Ring is Empty</div>
                                            <div class="item">WALNUT RING Ring is Empty</div>
                                            <div class="item">STONELEA RING Ring is Empty</div>
                                            <div class="item">CLAIBORNE RING Ring is Empty</div>
                                            <div class="item">MURPHY RING Ring is Empty</div>
                                            <div class="item">COVERED ARENA Ring is Empty</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="showcontent">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <a href="horse-show.html" style="padding-bottom:10px; display:inline-block;">Click HERE to view this show's summary</a>
                            </div>
                            <div class="col-lg-5 col-sm-5 col-xs-12">
                                <div class="clr"></div>
                                <h3>My Tracked Horse</h3>
                                <p>You do not currently have any tracked horses. You can add new horses to your tracked entrants by visiting your <a href="my-shownet.html">My ShowNet</a> members area, clicking 'My Tracked Entries and Alerts' and entering the back number of your desired horse.</p>
                                <p>Once you have entered back numbers to track, their status and results will be displayed here and updated automatically for you.</p>
                            </div>
                            <div class="col-lg-7 col-sm-7 col-xs-12">
                                <h3>Ring Schedule</h3>
                                @Html.DropDownListFor(m => m.SelectedRingName, new SelectList(Model.RingNameList, "RingID", "RingName"), new { id = "ddlRingName1", @class = "form-control" })
                                <div class="table-responsive showHistoryTableContent">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Class</th>
                                                <th>Class Name</th>
                                                <th>Start</th>
                                                <th>Starters&nbsp;Video</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>562</td>
                                                <td>HIGH SCHOOLING JUMPER II NO JP OFF</td>
                                                <td>08:00AM</td>
                                                <td>50</td>
                                                <td><a href="my-shownet.html">Live (Seen 0 of 50)</a></td>
                                            </tr>
                                            <tr>
                                                <td>562</td>
                                                <td>HIGH SCHOOLING JUMPER II NO JP OFF</td>
                                                <td>08:00AM</td>
                                                <td>50</td>
                                                <td><a href="#">Live (Seen 0 of 50)</a></td>
                                            </tr>
                                            <tr>
                                                <td>562</td>
                                                <td>HIGH SCHOOLING JUMPER II NO JP OFF</td>
                                                <td>08:00AM</td>
                                                <td>50</td>
                                                <td><a href="#">Live (Seen 0 of 50)</a></td>
                                            </tr>
                                            <tr>
                                                <td>562</td>
                                                <td>HIGH SCHOOLING JUMPER II NO JP OFF</td>
                                                <td>08:00AM</td>
                                                <td>50</td>
                                                <td><a href="#">Live (Seen 0 of 50)</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /contentPart -->